@{
    ViewData["Title"] = "Events";
}

<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.6;
        background-color: rgb(33, 36, 38);
    }
    .event-title {
        font-size: 3.25em;
        font-weight: bold;
    }
    .intro {
        margin-bottom: 20px;
    }
    .event-section {
        margin-bottom: 40px;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 2rem;
    }
    .event-description {
        margin-top: 10px;
    }
    .hidden-categories ul {
        list-style-type: none;
        padding-left: 0;
    }
    .hidden-categories li {
        margin-bottom: 5px;
    }
</style>

<img alt="" src="~/images/image2.png">

<section class="intro">
    <h1 class="event-title">INTRODUCTION</h1>
    <p>Hi, I’m Matt (xMcacutt). I am a speedrunner and programmer within the Tasmanian Tiger community. On August 1st, 2022, I was on a call with another speedrunner, SirLaurenceNZ, discussing whether it would be possible to make a ghost mod for speedrunning the game. This call would plant the seed that grew into Mul-Ty-Player, the multiplayer mod for Ty the Tasmanian Tiger. It is fast approaching two years since this call, and to celebrate, I've organized a tournament to show off Mul-Ty-Player and get people involved with Ty. This is a celebration of all the people who have helped to make the mod possible as well as the speedrunning community and the game itself. Whether you're a Ty veteran or have never played the game before, all are welcome.</p>
    <p>The events will take place over the weekends starting August 2nd and August 9th. You will need to sign up for every event you wish to be involved in along with providing your schedule for the day of the event through Oengus. This is explained further later in this document.</p>
</section>

<section class="event-section">
    <h1 class="event-title">SCORING</h1>
    <p>Across the event, it will be possible to score points for placing well and by winning in the hidden categories defined for each event. A leaderboard will be available at all times showing the scores which will be updated after each event. The hidden categories will also be announced after each event. The player with the most points at the end of the overall event will receive a $50 cash prize through PayPal or any other agreed arrangement. The first to third place players will also receive a special flair to their name and a different introduction sound on connecting to Mul-Ty-Player while logged into Steam.</p>
</section>

<section class="event-section">
    <h1 class="event-title">SIGN UP</h1>
    <p>Each event will take place over a single day. For most events, you will need to provide your availability on sign-up since they will be slot-based. Most events should also last no longer than an hour, and we will try our best to ensure everyone can participate in every event they sign up for.</p>
    <p>To sign up, first read the rules for each event and note which events you wish to participate in. You must be in the <a href="https://discord.gg/Vkd2zQEdeJ">Ty the Tasmanian Tiger speedrunning discord</a> to join the event. Now head over to the Sign-Up page to make a submission. Please provide your availability for each day of each event you wish to participate in. This will be used to match you with other runners. Give as wide a window as you are able to and be prepared for the run to be anywhere in that time. If you have special requests regarding your availability, please contact me on Discord. Each event will run across a 14-hour window (except The Weakest Sink), but most should only take each person 30 minutes to an hour.</p>
    <p>If you are unsure of your availability for the event, no worries, feel free to sign up anyway and reach out about times as and when they become clearer.</p>
    <p>Note: The Weakest Skink will be handled in one or more sessions depending on turnout. The time of the sessions will be announced when sign-up closes, along with confirmation of each person's time slot for the other events.</p>
</section>

<section class="event-section">
    <h1 class="event-title">EVENTS</h1>
    <p class="event-description">Below are the details of each of the six events taking place across the two weekends.</p>
    <p class="event-description">Please read through the details before submitting and before participating in the event to ensure you understand the format. Any questions are welcome but most will be answered in the stream immediately following the video release.</p>
</section>

<section class="event-section">
    <img alt="" src="~/images/image5.png">
    <h1 class="event-title">VIDEO RELEASE - THURSDAY 1ST AUGUST</h1>
    <p class="event-description">Over the last 5 months, I’ve been working on making a video to explain how Mul-Ty-Player was made and its history in the speedrunning community. This video will be released on Thursday 1st August through a YouTube premiere to kick start the event. Immediately following the video, I will be streaming to explain more about the event giving important information to all those who signed up for the event.</p>
    <p class="event-description">(YOU DO NOT NEED TO SIGN UP TO JOIN THIS EVENT)</p>
    <p class="event-description">Hidden Categories</p>
    <ul class="event-list">
        <li class="event-item">???</li>
        <li class="event-item">???</li>
        <li class="event-item">???</li>
    </ul>
</section>

<section class="event-section">
    <img alt="" src="~/images/image3.png">
    <h1 class="event-title">COLLECTION MODE FFA - FRIDAY 2ND AUGUST</h1>
    <p class="event-info">Estimated Session Length: 20 Minutes</p>
    <p class="event-description">Our first event will be a collection mode tournament.</p>
    <p class="event-description">Collection mode is a game mode built into Mul-Ty-Player where points are awarded for each item collected.</p>
    <p class="event-description">For this event, you will all be split into groups of 3 based on skill level and availability. At the start of the session, you will all choose a level to run through. You will then have 5 minutes to run through the level together and collect as much as possible. Collectibles are synchronised so when someone collects something, no one else can get it. Your goal is to collect the most. At the end of the 3 minutes, your points will be noted down and the next player’s level will be run.</p>
    <p class="event-description">After all three rounds, your total score will dictate your placement.</p>
    <p class="event-description">You will be awarded 3 points for first, 2 for second and 1 for third.</p>
    <p class="event-description">Hidden Categories</p>
    <ul class="event-list">
        <li class="event-item">???</li>
        <li class="event-item">???</li>
        <li class="event-item">???</li>
    </ul>
</section>

<section class="event-section">
    <img alt="" src="~/images/image6.png">
    <h1 class="event-title">THE WEAKEST SKINK - SATURDAY 3RD AUGUST</h1>
    <p class="event-info">Estimated Session Length: 1.5 Hours</p>
    <p class="event-description">The weakest link is a British game show in which contestants answer a series of questions. Each question must be answered within 10 seconds. The original show also had a banking system for the players to make money but this will not be a part of the event. The first round lasts 3 minutes with each subsequent round being 10 seconds shorter. After each round all players vote for who they believe the weakest player is. That player is then removed from the game and the game continues. Once there are only 2 players remaining, 3 questions are asked to each player alternating each time until one player has answered more than the other correctly. In the event of a tie, a sudden death back and forth questioning begins.</p>
    <p class="event-description">2 points will go to the first player out 3 to the winner 2 to second place and 1 to the last player voted out.</p>
    <p class="event-description">I advise you to watch the show to better understand the format before the event.</p>
    <p class="event-description">Hidden Categories</p>
    <ul class="event-list">
        <li class="event-item">???</li>
        <li class="event-item">???</li>
        <li class="event-item">???</li>
        <li class="event-item">???</li>
    </ul>
</section>

<section class="event-section">
    <img alt="" src="~/images/image7.png">
    <h1 class="event-title">Bingo 2V2 - SUNDAY 4TH AUGUST</h1>
    <p class="event-info">Estimated Session Length: 30 Minutes</p>
    <p class="event-description">This is our first 2v2 event. In the spirit of Mul-Ty-Player you’ll be running together with another player. It is advised that you find a partner to play with in the partner games before the event and ensure your submissions are connected in oengus. If you do not have a partner you will be paired with someone automatically. If no one is available, I will step in to play. (As the host, I will not be gaining points at any stage of the event.) At the start of this event you will be given a bingo card. The card will contain objectives. Your goal is to complete a line with your partner before the opponents manage to. This is a non-lockout bingo tournament so you will NOT be blocked from completing an objective just because the opponent has completed it already. </p>
    <p class="event-description">If you are first to complete a line you are immediately awarded 3 points and the opponents 2 if they also choose to complete a line or 1 if not.</p>
    <p class="event-description">Hidden Categories</p>
    <ul class="event-list">
        <li class="event-item">???</li>
        <li class="event-item">???</li>
        <li class="event-item">???</li>
    </ul>
</section>


<section class="event-section">
    <img alt="" src="~/images/image1.png">
    <h1 class="event-title">CHAOS MODE 2V2 - FRIDAY 9TH AUGUST</h1>
    <p class="event-info">Estimated Session Length: 30 Minutes</p>
    <p class="event-description">Chaos mode is a pseudo randomizer built into Mul-Ty-Player which shuffles the positions of all cogs across 50 positions and all bilbies across 25 positions in each level.</p>
    <p class="event-description">All portals to the 9 main stages are also shuffled so no one will know which order they’ll be completing the levels.</p>
    <p class="event-description">In this event, you’ll be working with a partner to try to beat the opposing team to collect all golden cogs and all bilbies in a level shuffled with chaos mode. Opals and Thunder Eggs are not required. The event will be run in a best of three rounds. The first team to win two rounds wins. Levels will be decided using the first three level portals in the game which will be randomly shuffled using chaos mode. The seed will be pre-determined and the same for both teams.</p>
    <p class="event-description">The winning team will be granted 3 points while the losing team will receive 1.</p>
    <p class="event-description">Hidden Categories</p>
    <ul class="event-list">
        <li class="event-item">???</li>
        <li class="event-item">???</li>
        <li class="event-item">???</li>
    </ul>
</section>

<section class="event-section">
    <img alt="" src="~/images/image4.png">
    <h1 class="event-title">HIDE & SEEK 2V2 - SATURDAY 10TH AUGUST</h1>
    <p class="event-info">Estimated Session Length: 40 Minutes</p>
    <p class="event-description">To finish out the celebration, our final event will be a Hide & Seek tournament. You’ll need to work with a partner to beat the opposing team’s time. Time is awarded for each second hidden as well as for catching the opposing team.</p>
    <p class="event-description">At the start of the event, you’ll use the draft system built into Mul-Ty-Player (pending its completion) to decide which levels you’ll be hiding on. Don’t worry about this part too much, you’ll be talked through it during the event. Each level has a different perk which will be in play for the game and you’ll have 10 seconds to find the best player’s location at the beginning of the game.</p>
    <p class="event-description">The event will be run in a best of three rounds. The first team to win two rounds wins. Levels will be decided using the first two level portals in the game. The seed will be pre-determined and the same for both teams.</p>
    <p class="event-description">The winning team will be granted 3 points while the losing team will receive 1.</p>
    <p class="event-description">Hidden Categories</p>
    <ul class="event-list">
        <li class="event-item">???</li>
        <li class="event-item">???</li>
        <li class="event-item">???</li>
    </ul>
</section>