@{
    ViewData["Title"] = "Success";
}
<style>
    body{
        background-color: rgb(52, 54, 56);
        color: rgb(255, 255, 255);
        font-family: Arial, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.6;
    }
</style>

<head>
    <title>Success</title>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet"/>
</head>

<h1>@ViewData["Title"]</h1>

<p>Your submission was successful! Keep an eye out for the schedule.</p>